[MESSAGES CONTROL]

# TODO: Reactivate fixme and missing-*-docstring warnings
disable=
    fixme,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    no-else-return,


[BASIC]

class-rgx=[A-Z_][a-zA-Z0-9]+[_]?$
